# Route all /api/* requests to index.php (Apache + mod_rewrite).
<IfModule mod_rewrite.c>
	RewriteEngine On
	RewriteBase .
	RewriteCond %{REQUEST_FILENAME} !-f
	RewriteRule ^ index.php [L,QSA]
</IfModule>
